

{% block title %}Delete Authors with Zero Books{% endblock %}

{% block body %}
    <h1>Delete Authors with Zero Books</h1>

    <p>{{ deletedAuthorsCount }} author(s) with zero books have been deleted.</p>
</body>
{% endblock %}
