{# templates/book/count_romance_books.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Count Romance Books</title>
</head>
<body>
    <h1>Count of Romance Books</h1>
    <p>The number of books in the "Romance" category is: {{ count }}</p>
</body>
</html>
